POSTGRES_DB=aiappdb
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

DATABASE_URL=postgresql://your_username:your_password@postgres:5432/aiappdb


SECRET_KEY=replace-with-a-random-secret
REDIS_URL=redis://redis:6379
